@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
@import url('https://fonts.googleapis.com/css?family=Courgette')

$color1: #ffffff
$color2: #a71a2d

//font-family: 'Courgette', cursive



header
    background-image: url('/images/banner1.jpg')
    background-size: cover
    background-repeat: no-repeat
    height: 80vh
    width:100vw
    .opac
        background-color: #000000
        opacity: 0.8
        height: 80vh
        width:100vw

    .container
        max-width: 90%
        text-align: center
        display: flex
        margin: 0 auto
        padding: 0 5%
        .logo
            padding-top: 3%
            margin: 0 2.5rem
        ul
            display: flex
            flex-wrap: wrap
            padding-left: 0
            padding-top: 6%
            margin-bottom: 0
            list-style: none
            margin: 0 1rem
            text-align: center 
            li
                a
                    text-decoration: none
                    text-transform: uppercase
                    color: $color1
                    font-size: 1rem
                    vertical-align: auto
                    border-top: 1px solid $color1
                    border-bottom: 1px solid $color1
                    padding: 1rem
                    padding-right: 2rem
                    padding-left: 2rem
                    &:hover
                        background-color: $color2
                        opacity: 1
