@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
@import url('https://fonts.googleapis.com/css?family=Courgette')


// variables 

$color1: #ffffff //white
$color2: #a71a2d //red-ish
$color3: #dddddd // lightger-ish
$color4: #000000cc //lightblack-ish
$color5: #000000 //black

// general classes

hr
    margin: 0
img
    padding: 0 auto
    margin: 0 auto
input
    text-transform: capitalize
.row
    margin: 0
    padding: 0
.col-1
    margin: 0
    padding: 0
.col-2
    border-right: 1px solid $color3
//////////////////


.style-container
    background-image: url("/public/images/main_bg.jpg")
    background-repeat: repeat
    width:100%
    margin: 0
    padding: 3rem 6rem
    
.style-container2 // partie I : our story
    margin: 0
    text-align: center
    border: 1px solid $color3
    background-color: $color1

//the images on the top corners 
.box-right
            text-align: right
.box-left
    text-align: left
//////////////////

.opac
    background: url("/public/images/bottom_decoration_img.png") bottom repeat-x, $color4
    height: 98vh
    width:100%


.container-flex
    margin: 0 !important
    padding: 0 !important
//////////////////

//text styles
span
    font-size: 6rem
h1
    font-family: 'Courgette', cursive
    text-align: center
    padding: 0 auto
    margin: 0 auto
h3
    font-family: 'Courgette', cursive
    text-align: center
    padding: 0 auto
    margin: 0 auto
h6
    font-weight: 700
    font-size: 1.2rem
p
    margin: 0 auto
.text1
    text-transform: uppercase
.text2
    color: $color2
    text-transform: uppercase
.text3
    font-size: 5rem
.text4
    font-size: 2.5rem !important
    text-transform: capitalize
    span
        font-size: 4rem
//////////////////

// buttons styles

.btn
    background-color: #fff
    border-radius: 5rem
    padding: 1rem 2rem
    margin: 2rem .5rem
    text-transform: uppercase
.btn1
    color: $color2
    &:hover
        background-color: $color2
        color: $color1
.btn2
    background-color: $color2
    color: $color1
    &:hover
        background-color: $color1
        color: $color2

.btn3
    border-radius: .5rem
    background-color: $color2
    color: $color1
    text-align: center
    margin: 0 auto
    &:hover
        background-color: $color1
        color: $color2

////////////////////////////////////////////////////


//Partie I : navigation

header
    background-image: url("/public/images/banner1.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 98vh
    width:100%
    .container
        max-width: 90%
        text-align: center
        display: flex
        margin: 0 auto
        padding: 0 5%
        opacity: none
        .logo
            margin: 0 2.5rem
        ul
            display: flex
            flex-wrap: wrap
            padding-left: 0
            padding-top: 6%
            margin-bottom: 0
            list-style: none
            margin: 0 1rem
            text-align: center 
            li
                a
                    text-decoration: none
                    text-transform: uppercase
                    color: $color1
                    font-size: 1rem
                    vertical-align: auto
                    border-top: 1px solid $color1
                    border-bottom: 1px solid $color1
                    padding: 1rem
                    padding-right: 2rem
                    padding-left: 2rem
                    &:hover
                        background-color: $color2
    .head-partie2
        max-width: 60%
        margin: 6% auto
        display: block
        h1
            font-size: 3rem
            text-align: center
            color: $color1
           
////////////////////////////////////////////////////

//section II our-resto
.style-container
    .style-container2
        h1
            padding-top: 3rem

        .about-us
            max-width:45%
            text-align: center
            padding-top: 3rem
            font-size: 1.2rem

        .our-menu  //partie II : our menu
            margin-top: 4rem

            .menu-options
                padding: 0
                margin: 0
                li
                    height: 10rem
                    display: block
                    &:hover
                        border-right: .5rem solid $color2
                        i
                            color: $color2
                    i
                        margin-top: 1rem
                        color: $color3

            ul
                padding: 0
                list-style: none
                
               
                li
                    padding: 0.8rem 0rem
                    display: flex
                    img
                        max-width: 9rem
                        max-height: 9rem
                        border-radius: 50%
                        background: $color3
                        padding: .5rem
                        margin: 0
                    .menu-content
                        padding-top: 1.5rem
                        margin-left: 1rem
                        text-align: left
                        max-width: 55%
                        font-size: 1.2rem
                    .price
                        color: $color2
                        margin-top: 2.5rem
                        margin-bottom: 5rem
                        padding: 0 1rem
                        background-color: $color3
                        

                   

////////////////////////////////////////////////////

// section III : nos chefs

.noschefs
    background-image: url("/public/images/team_background.jpg")
    position: relative
    .chefs
        background: #000000af
        text-align: center
        color: $color1
        padding: 4rem
        ul
            padding-top: 4rem
            list-style: none
            display: flex
            margin: 0 auto
            li                
                margin: 0 auto
                img
                    height: 30rem
                    border-bottom: 1px solid #696969
                p
                    font-size: 1.3rem

////////////////////////////////////////////////////

// section IV : bookings
.request
    background-image: url("/public/images/book_table_bg.jpg")
    border-radius: 1rem
    width: 60rem
    height: 40rem
    margin-top: 5rem
    margin-bottom: 3rem
    p
        padding-top: 4rem
        color: $color1
        font-size: 1.5rem
        font-weight: 200
    .row
        margin-top: 4rem
        .info-left
            text-align: right
            margin: 0 auto
            padding-left: 3rem
            display: block
        .info-right
            text-align: left
            margin: 0 auto
            padding-right: 3rem
            display: block
            overflow: hidden
        .query-info
            margin: .5rem
            padding: .9rem 8rem .9rem 1rem
            border-radius: 1.2rem
.bas-grey
    width: 100%
    .col-6
        margin: 0
        padding: 0
.bas-left
    text-align: left
.bas-right
    text-align: right
  
  
.blogpost
    max-width: 80%
    margin: 0 auto
    margin-top: 6rem
    .row
        padding: 0 auto  
        .col-6
            margin: 0
            img
                height: 20rem
                border: 6px solid $color3
                border-radius: .8rem
            .mytext
                margin-top: 3rem
                p
                    width: 70%
                    text-align: left
                    font-size: 1rem
                    strong
                        font-size: 1.4rem
            .btn3
                position: absolute
                text-align: left
                top: 17.5rem
                right: 6rem
                z-index: 1
                span
                    font-size: 1.5rem 
            